<ng-container *ngIf="roles_administrativos == 'admin'; then administradores"></ng-container>
<ng-container *ngIf="roles_administrativos == 'operador'; then operador"></ng-container>

<ng-template #administradores>
    <div class="row">
        
        <div class="col-md-2">
            <div class="card bg-info">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income-w.png" alt="Income" /></div>
                        <div class="align-self-center" *ngIf="total||total==0">
                            <h6 class="text-white m-t-10 m-b-0">Total usuarios</h6>
                            <h2 class="m-t-0 text-white">{{total}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense-w.png" alt="Income" /></div>
                        <div class="align-self-center" *ngIf="total_medidor||total_medidor==0">
                            <h6 class="text-white m-t-10 m-b-0">Total medidores</h6>
                            <h2 class="m-t-0 text-white">{{total_medidor}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                        <div class="align-self-center" *ngIf="medidor_activos||medidor_activos==0">
                            <h6 class="text-white m-t-10 m-b-0">Medidores activos</h6>
                            <h2 class="m-t-0 text-white">{{medidor_activos}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card bg-secondary">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff-w.png" alt="Income" /></div>
                         <div class="align-self-center" *ngIf="medidor_inactivos||medidor_inactivos==0">
                            <h6 class="text-white m-t-10 m-b-0">Medidores inactivos</h6>
                            <h2 class="m-t-0 text-white">{{medidor_inactivos}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card bg-warning">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff-w.png" alt="Income" /></div>
                         <div class="align-self-center" *ngIf="medidor_suspendido||medidor_suspendido==0">
                            <h6 class="text-white m-t-10 m-b-0">Medidores suspendidos</h6>
                            <h2 class="m-t-0 text-white">{{medidor_suspendido}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff-w.png" alt="Income" /></div>
                         <div class="align-self-center" *ngIf="medidor_retirado||medidor_retirado==0">
                            <h6 class="text-white m-t-10 m-b-0">Medidores retirados</h6>
                            <h2 class="m-t-0 text-white">{{medidor_retirado}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="!temp_var">

            <div class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            <div class="sk-spinner sk-spinner-pulse"></div>
            </div>
            
        </div>
        <div class="col-12" *ngIf="temp_var">
            <div class="card-body table-responsive p-0">
                <form class="form-group float-right">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Buscar: </span>
                        <input 
                        type="text" 
                        name="searchValue" 
                        class="form-control" 
                        [(ngModel)]="searchValue"
                        (input)="eventoBuscar($event.target.value)"
                        >
                    </div>
                </form>
                <table datatable [dtOptions]="dtOptions" class="table table-hover" *ngIf="this.temp_var">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>CI/RUC</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Apodo</th>
                            <th>Sector</th>
                            <th>Cod medidor</th>
                            <th>Medidor</th>
                            <!--  <th>N°</th> -->
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let us of this.lista_medidor | busquedamedidoruser: searchValue; let i =index" (change)="eventoBuscar($event)">
                            <td>{{ i + 1}}</td>
                            <td>
                                {{ us.users.RUCCI}}
                                <!-- <small class="badge badge-primary" *ngIf="us.VISTO=='0'">nuevo</small> -->
                            </td>
                            <td>{{ us.users.NOMBRES}}</td>
                            <td>{{ us.users.APELLIDOS}}</td>
                            <td>{{ us.users.APADOSN}}</td>
                            <td>{{ us.users.SECTOR}}</td>
                            <td>{{ us.CODIGO }}</td>
                            <td class="overflow-hidden">
                                <span *ngIf="us.ESTADO=='ACTIVO'">
                                    <label class="badge badge-success">Activo</label>
                                </span>
                                <span *ngIf="us.ESTADO=='INACTIVO'">
                                    <label class="badge badge-secondary">Inactivo</label>
                                </span>
                                <span *ngIf="us.ESTADO=='SUSPENDIDO'">
                                    <label class="badge badge-warning">Suspendido</label>
                                </span>
                                <span *ngIf="us.ESTADO=='RETIRADO'">
                                    <label class="badge badge-danger">Retirado</label>
                                </span>


                                <div ngbDropdown container="body" *ngIf="us.ESTADO!='RETIRADO'">
                                    <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle><i class="fa fa-pencil-square-o"></i></button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem class="btn" 
                                        (click)="openEditarEstadoMedidorModal(editarEstadoMedidor,us)" title="Editar estado del medidor">
                                            Editar estado<i class="fa fa-pencil-square-o"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <!-- <td>
                                <span *ngIf="us.ESTADO=='ACTIVO'" class="text-info">
                                    <strong>{{ us.NUMMEDIDOR}}</strong>
                                </span>
                                <span *ngIf="us.ESTADO=='INACTIVO'" class="text-secondary">
                                    <strong>{{ us.NUMMEDIDOR}}</strong>    
                                </span>
                                <span *ngIf="us.ESTADO=='SUSPENDIDO'" class="text-warning">
                                    <strong>{{ us.NUMMEDIDOR}}</strong>    
                                </span>
                                <span *ngIf="us.ESTADO=='RETIRADO'" class="text-danger">
                                    <strong>{{ us.NUMMEDIDOR}}</strong>    
                                </span>
                            </td> -->
                            
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Opciones</button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem class="btn" 
                                        (click)="openVerModalUsers(verCliente,us)" title="Ver usuario">
                                            Ver <i class="fa fa-eye"></i>
                                        </a>
                                        <a ngbDropdownItem *ngIf="us.ESTADO=='RETIRADO'"
                                        [routerLink]="['/users/detail',us.users.id]" 
                                        title="Detalle usuario"
                                        >
                                            Eliminar <i class="fa fa-trash-o"></i>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a ngbDropdownItem 
                                        [routerLink]="['/users/detail',us.users.id]" 
                                        title="Detalle usuario"
                                        >
                                            Entrar <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #operador>
    <div class="row">
        <div class="col-lg-2">
            <div class="card bg-info">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income-w.png" alt="Income" /></div>
                        <div class="align-self-center" *ngIf="total||total==0">
                            <h6 class="text-white m-t-10 m-b-0">Total usuarios</h6>
                            <h2 class="m-t-0 text-white">{{total}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense-w.png" alt="Income" /></div>
                        <div class="align-self-center" *ngIf="total_medidor||total_medidor==0">
                            <h6 class="text-white m-t-10 m-b-0">Total medidores</h6>
                            <h2 class="m-t-0 text-white">{{total_medidor}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets-w.png" alt="Income" /></div>
                        <div class="align-self-center" *ngIf="medidor_activos||medidor_activos==0">
                            <h6 class="text-white m-t-10 m-b-0">Medidores activos</h6>
                            <h2 class="m-t-0 text-white">{{medidor_activos}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card bg-warning">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff-w.png" alt="Income" /></div>
                         <div class="align-self-center" *ngIf="medidor_inactivos||medidor_inactivos==0">
                            <h6 class="text-white m-t-10 m-b-0">Medidores inactivos</h6>
                            <h2 class="m-t-0 text-white">{{medidor_inactivos}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff-w.png" alt="Income" /></div>
                         <div class="align-self-center" *ngIf="medidor_suspendido||medidor_suspendido==0">
                            <h6 class="text-white m-t-10 m-b-0">Medidores suspendidos</h6>
                            <h2 class="m-t-0 text-white">{{medidor_suspendido}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="!temp_var">

            <div class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            <div class="sk-spinner sk-spinner-pulse"></div>
            </div>
            
        </div>
        <div class="col-12" *ngIf="temp_var">
            <div class="card-body table-responsive p-0">
                <table datatable [dtOptions]="dtOptions" class="table table-hover" *ngIf="this.temp_var">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>CI/RUC</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Apodo</th>
                            <th>Sector</th>
                            <th>Estado Usuario</th>
                            <th>Medidor</th>
                            <!-- <th>N°</th> -->
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let us of this.lista_medidor; let i =index">
                            <td>{{ i + 1}}</td>
                            <td>
                                {{ us.users.RUCCI}}
                                <small class="badge badge-primary" *ngIf="us.VISTO=='0'">nuevo</small>
                            </td>
                            <td>{{ us.users.NOMBRES}}</td>
                            <td>{{ us.users.APELLIDOS}}</td>
                            <td>{{ us.users.APADOSN}}</td>
                            <td>{{ us.users.SECTOR}}</td>

                            <td>
                                <span *ngIf="us.users.ESTADO=='1'" class="text-info">
                                    ACTIVO
                                </span>
                                <span *ngIf="us.users.ESTADO=='0'" class="text-danger">
                                    INACTIVO
                                </span>
                            </td>
                            <td>
                                <span *ngIf="us.ESTADO=='ACTIVO'">
                                    <label class="badge badge-success">Activo</label>
                                </span>
                                <span *ngIf="us.ESTADO=='INACTIVO'">
                                    <label class="badge badge-danger">Inactivo</label>
                                </span>
                            </td>
                            <!-- <td>
                                <span *ngIf="us.ESTADO=='ACTIVO'" class="text-info">
                                    <strong>{{ us.NUMMEDIDOR}}</strong>
                                </span>
                                <span *ngIf="us.ESTADO=='INACTIVO'" class="text-danger">
                                    <strong>{{ us.NUMMEDIDOR}}</strong>    
                                </span>
                            </td> -->
                            
                            <td>
                                <a class="btn btn-outline-secondary btn-xs" 
                                (click)="openVerModalUsers(verCliente,us)" title="Ver usuario">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a 
                                [routerLink]="['/users/detail',us.users.id]" class="btn btn-outline-primary btn-xs" 
                                title="Detalle usuario"
                                >
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>

<!--modals editar estado cliente-->
<ng-template #editarEstadoMedidor let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar estado del medidor del cliente</h4>
        <button type="button" class="close help btn btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseInfoAddProductos" aria-expanded="false">
            <i class="fa fa-fw fa-question"></i>
        </button>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div id="acordion">
                    <div id="collapseInfoAddProductos" class="panel-collapse in collapse" style="">
                        <div class="jumbotron jumbotron-fluid p-2">
                            <h5>Info</h5>
                            <p>
                                En esta seccion usted podrá editar el estado del medidor; 
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="medidor">
                <span *ngIf="medidor.CODIGO!=null">
                    <strong>Código medidor :</strong> {{medidor.CODIGO}}
                </span><br>
                <span *ngIf="medidor.users.RUCCI!=null">
                    <strong>Cedula / RUC :</strong> {{medidor.users.RUCCI}}
                </span><br>
                <span *ngIf="medidor.users.RUCCI!=null">
                    <strong>Nº:</strong> {{medidor.users.RUCCI}}
                </span><br>
                <span *ngIf="medidor.users.NOMBRES!=null">
                    <strong>NOMBRES:</strong> {{medidor.users.NOMBRES}} {{medidor.users.APELLIDOS}}
                </span><br>
                <span *ngIf="medidor.users.APADOSN!=null">
                    <strong>APODO:</strong> {{medidor.users.APADOSN}}
                </span>
            </div>
            <div class="col-md-12">
                <select 
                class="form-control" 
                id="select" 
                name="select" 
                class="col-md-9 form-control form-control-sm"
                (change)="opcionSeleccionBusqueda($event.target.value)"
                    >
                    <option selected disabled>Seleccionar</option>
                    <option *ngFor="let g of seleccionar_opcion" [value]="g.name"> {{g.text}} </option>
                </select>
            </div>
            <div class="col-md-12 mensage" *ngIf="opcion_de_select">
                <p *ngIf="opcion_de_select=='ACTIVO'">
                    Al seleccionar <strong class="text-success">ACTIVO</strong>, el medidor tendrá registros de consumo, facturacion, y cuentas contables. <br>
                    Seleccione esta opcion para porder realizar todas sus funciones.
                </p>
                <p *ngIf="opcion_de_select=='INACTIVO'">
                    Al seleccionar <strong class="text-secondary">INACTIVO</strong>, el medidor tendrá registros de consumo, facturacion, y cuentas contables. <br>
                    Seleccione esta opcion cuando un medidor sea suspendido por falta de pago o algun inconveniente. <br>
                    <strong>Todas sus funciones se realizan con normalidad</strong>
                </p>
                <p *ngIf="opcion_de_select=='SUSPENDIDO'">
                    Al seleccionar <strong class="text-warning">SUSPENDIDO</strong>, el medidor <strong>NO</strong> tendrá registros de consumo, facturacion, y ni se reflejarán en las cuentas contables. <br>
                    Seleccione esta opcion cuando un <strong>USUARIO SOLICITE LA SUSPENCION TEMPORAL DEL SERVICIO</strong>. <br>
                    <strong>Las funciones de este usuario serán limitadas</strong>
                </p>
                <p *ngIf="opcion_de_select=='RETIRADO'">
                    Al seleccionar <strong class="text-danger">RETIRADO</strong>, el medidor estará retirado y ya no tendrá registros en ningun módulo. <br>
                    Seleccione esta opcion cuando un <strong>USUARIO SEA RETIRADO EL MEDIDOR y ya no sea partícipe del consumo de agua</strong>. <br>
                    <strong>Una vez retirado el medidor, el código actual estará disponible y podrá realizar el transpaso o registrar con un usuario nuevo.</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button 
        *ngIf="opcion_de_select==''"
        type="button" 
        class="btn btn-outline-success float-right" 
        disabled
        >
            GUARDAR
        </button>
        <button 
        *ngIf="opcion_de_select!='RETIRADO'&&opcion_de_select!=''"
        type="button" 
        class="btn btn-outline-success float-right" 
        (click)="modal.close('guardarestado')"
        >
            GUARDAR
        </button>
        <button 
        *ngIf="opcion_de_select=='RETIRADO'&&opcion_de_select!=''" 
        type="button" 
        class="btn btn-outline-success float-right" 
        (click)="modal.close('abrirnuevomodal');openModalConfirmarRetiro(confirmarRetiro)"
        >
            GUARDAR
        </button>
        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">CANCELAR</button>
    </div>
</ng-template>
<!--fin modals editar estado cliente-->

<!--modals confirmar retiro de medidor-->
<ng-template #confirmarRetiro let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar retiro del medidor</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h3>Datos del cliente</h3>
            </div>
            <div class="col-md-12" *ngIf="medidor">
                <span *ngIf="medidor.CODIGO!=null">
                    <strong>Código medidor :</strong> {{medidor.CODIGO}}
                </span><br>
                <span *ngIf="medidor.users.RUCCI!=null">
                    <strong>Cedula / RUC :</strong> {{medidor.users.RUCCI}}
                </span><br>
                <span *ngIf="medidor.users.RUCCI!=null">
                    <strong>Nº:</strong> {{medidor.users.RUCCI}}
                </span><br>
                <span *ngIf="medidor.users.NOMBRES!=null">
                    <strong>NOMBRES:</strong> {{medidor.users.NOMBRES}} {{medidor.users.APELLIDOS}}
                </span><br>
                <span *ngIf="medidor.users.APADOSN!=null">
                    <strong>APODO:</strong> {{medidor.users.APADOSN}}
                </span>
            </div>
             <div class="col-12">
                <p><strong class="text-danger">Se eliminará el codigo del medidor</strong></p>
                <h3>Desea confirmar el retiro del medidor?</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success float-right" (click)="modal.close('guardarestado')">SI</button>
        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">CANCELAR</button>
    </div>
</ng-template>
<!--fin modals confirmar retiro de medidor-->

<!--modals ver cliente-->
<ng-template #verCliente let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Usuario cliente</h4>
        <button type="button" class="close help btn btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseInfoAddProductos" aria-expanded="false">
            <i class="fa fa-fw fa-question"></i>
        </button>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div id="acordion">
                    <div id="collapseInfoAddProductos" class="panel-collapse in collapse" style="">
                        <div class="jumbotron jumbotron-fluid p-2">
                            <h5>Info</h5>
                            <p>En este modal usted puede ver los datos del cliente.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <!-- <a 
                type="button" 
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
                class="btn btn-primary btn-sm float-right"
                [routerLink]="['/users/perfil',dato_users.id]">
                    VER PERFIL
                </a> -->
                <h3>Datos del cliente</h3>
            </div>
            <div class="col-md-12" *ngIf="dato_users">
                <p *ngIf="dato_users.users.RUCCI!=null">
                    <strong>Cedula / RUC :</strong> {{dato_users.users.RUCCI}}
                </p>
                <p *ngIf="dato_users.users.NOMBRES!=null">
                    <strong>NOMBRES:</strong> {{dato_users.users.NOMBRES}} {{dato_users.users.APELLIDOS}}
                </p>
                <p *ngIf="dato_users.users.APADOSN!=null">
                    <strong>APODO:</strong> {{dato_users.users.APADOSN}}
                </p>
                <p *ngIf="dato_users.users.ESTADO!=null">
                    <strong>ESTADO USUARIO:</strong> 
                    <span *ngIf="dato_users.users.ESTADO=='1'" class="badge badge-success">ACTIVO</span>
                    <span *ngIf="dato_users.users.ESTADO=='0'" class="badge badge-danger">INACTIVO</span>
                </p>
                <p *ngIf="dato_users">
                    <strong>MEDIDOR ESTADO:</strong> {{dato_users.ESTADO}}
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">CERRAR</button>
    </div>
</ng-template>
<!--fin modals ver cliente-->