<ng-container *ngIf="roles_administrativos == 'admin'; then administradores"></ng-container>

<ng-template #administradores>
    <div class="row">
        <!-- <div class="col-12" *ngIf="!lista_proveedores">

            <div class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            <div class="sk-spinner sk-spinner-pulse"></div>
            </div>
            
        </div> -->
        <div class="col-md-12 card pb-3">
        	<h4>Opciones de búsqueda:</h4>
        	<div class="row">
        		<div class="col-md-3">
		        	<!-- <select 
		        	class="form-control" 
		        	id="select" 
		        	name="select" 
		        	class="col-md-9 form-control form-control-sm"
		        	(change)="opcionSeleccionBusqueda($event.target.value)"
		        		>
		        		<option selected disabled>Seleccionar</option>
		                <option *ngFor="let g of seleccionar_opcion" [value]="g.name"> {{g.text}} </option>
		            </select> -->
                    <button 
                    class="btn btn-info btn-sm"
                    (click)="getAllUserMedidorEstadoModal(allUserMedidorModal)"
                    >
                        Abrir lista de usuarios <i class="fa fa-search"></i>
                    </button>
        		</div>
        		<hr class="col-md-12">
        		<div class="col-md-3">
                    <div class="form-group">
                        <form role="form" #BuscarCodigo="ngForm" (ngSubmit)="buscarPorCodigo()">
                            <span for="uname" class="col-sm-3 control-label">Ingrese codigo de medidor a buscar:</span>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input 
                                    type="text" 
                                    #codigo="ngModel" 
                                    name="codigo" 
                                    [(ngModel)]="factura_cobro.codigo" 
                                    class="form-control form-control-sm" 
                                    placeholder="Ingrese codigo nuevo medidor"
                                    pattern="[0-9]+" 
                                    id="busqueda_por_codigo" 
                                    >
                                    <button type="submit" class="btn btn-info btn-sm" id="busqueda_por_codigo_button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
        		</div>
        		<div class="col-md-3" *ngIf="opcion_de_busqueda=='todo'">
		        	<div class="form-group">
                        <button 
                        class="btn btn-info btn-sm"
                        (click)="getAllUserMedidorEstadoModal(allUserMedidorModal)"
                        >
                            Mostrar todo <i class="fa fa-search"></i>
                        </button>
                        <!-- <button 
                        class="btn btn-info btn-sm"
                        (click)="mostrarTabla()"
                        >
                            Mostrar tabla <i class="fa fa-search"></i>
                        </button> -->
		            </div>
        		</div>
	            <div class="col-md-9" *ngIf="datos_usuario">
	            	<div class="row">
	            		<div class="col-md-6">
	            			<h4>Datos del usuario</h4>
	            			<p>
	            				<span><strong>Nombres: </strong> {{datos_usuario.users.NOMBRES}} {{datos_usuario.users.APELLIDOS}} </span><br>
	            				<span><strong>Apodo: </strong> {{datos_usuario.users.APADOSN}}</span><br>
	            				<span><strong>Sector: </strong> {{datos_usuario.users.SECTOR}}</span><br>
                                <a *ngIf='datos_usuario.IDMEDIDOR' class="btn btn-primary btn-sm" [routerLink]="['/medidor/detail',datos_usuario.IDMEDIDOR]" target="_blank">
                                    Ver usuario <i class="fa fa-eye"></i>
                                </a>
	            			</p>

	            		</div>
	            		<div class="col-md-6">
	            			<span><strong>CI / RUC: </strong> {{datos_usuario.users.RUCCI}}</span><br>
	            			<span><strong>Direccion: </strong> {{datos_usuario.users.DIRECCION}}</span><br>
	            			<span><strong>Referencia: </strong> {{datos_usuario.users.REFERENCIA}}</span><br>
                            <span *ngIf="datos_usuario.ESTADO=='ACTIVO'">
                                <h4>
                                    <strong class="text-success">Estado: MEDIDOR ACTIVO</strong>
                                </h4>
                            </span>
                            <span *ngIf="datos_usuario.ESTADO=='INACTIVO'">
                                <h4>
                                    <strong class="text-danger">Estado: MEDIDOR INACTIVO</strong>
                                </h4>
                            </span>
	            			<h3 *ngIf="codigo2">
                                <strong class="text-success">Codigo Medidor: {{codigo2}}</strong>
                            </h3>
                            
	            		</div>
	            	</div>
	            </div>
        	</div>
        </div>
        <div class="col-12">
            <div class="card table-responsive p-0">
            	<div class="card-body" *ngIf="!this.temp_var&&!this.temp_var_minga&&!this.var_saldo">
                    <div class="row">
                        <div class="col-md-12">
                        	<h4 *ngIf="message_error"> &nbsp;<b class="text-danger">Error: </b> &nbsp; &nbsp; &nbsp;
	                            <small class="text-danger">{{message_error}}</small> 
	                        </h4>
                            <div class="p-20">
                                <h3>No tiene facturas de consumos pendientes por pagar</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" *ngIf="this.temp_var||this.temp_var_minga||this.var_saldo">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-20">
                                <h3>Lista de facturas por pagar <strong>pendientes</strong></h3>
                            </div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" *ngIf="this.temp_var">
                                    <a class="nav-link" [class.active]="temp_var&&temp_var_minga||!temp_var_minga" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Factura por consumo</span></a>
                                </li>
                                <li class="nav-item" *ngIf="temp_var_minga"> 
                                    <a class="nav-link" [class.active]="!temp_var&&temp_var_minga" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Factura Asambleas/Mingas</span></a> 
                                </li>
                                <li class="nav-item" *ngIf='this.var_saldo'> 
                                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Factura instalacion</span></a> 
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tabcontent-border">
                                <div class="tab-pane" [class.active]="temp_var&&temp_var_minga||!temp_var_minga" id="home" role="tabpanel"  *ngIf="this.temp_var">
                                    <div class="table-responsive p-0">
                                        <form [formGroup]="facturasForm">
                                            <div formArrayName="listafacturas">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th width="110"></th>
                                                            <th>Mes</th>
                                                            <th>Lect. Anterior</th>
                                                            <th>Lect. Actual</th>
                                                            <th>Alcantarillado</th>
                                                            <th>Consumo m3</th>
                                                            <th>Exceso m3</th>
                                                            <th>Exceso $</th>
                                                            <th>Subtotal</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let us of listafacturas.controls;let i = index" id="fila{{i}}">
                                                            <td>
                                                                <span 
                                                                *ngIf="this.listafactura_restar_tamanio-1==i&&
                                                                this.listafactura_restar_tamanio-1>0"
                                                                >
                                                                    <button class="btn btn-circle text-danger"
                                                                    (click)="removeItem(i)">
                                                                        <i class="fa fa-minus-circle"></i>
                                                                    </button>
                                                                    <span 
                                                                    *ngIf="listafactura_restar_tamanio<listafactura_tamanio"
                                                                    >
                                                                        <button 
                                                                        class="btn btn-circle text-info"
                                                                        (click)="addItem()">
                                                                            <i class="fa fa-plus-circle"></i>
                                                                        </button>
                                                                    </span>
                                                                </span>

                                                                <span 
                                                                *ngIf="this.listafactura_restar_tamanio-1==0&&
                                                                listafactura_tamanio>1"
                                                                >
                                                                    <button 
                                                                    class="btn btn-circle text-info"
                                                                    (click)="addItem()">
                                                                        <i class="fa fa-plus-circle"></i>
                                                                    </button>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                {{ us.value.ANIOMES }}
                                                            </td>
                                                            <td>{{ us.value.MEDIDAANT}}</td>
                                                            <td>{{ us.value.MEDIDAACT}}</td>
                                                            <td>
                                                                {{ (us.value.ALCANTARRILLADO | currency) }}
                                                            </td>
                                                            <td>
                                                                {{ us.value.CONSUMO}} 
                                                                <small class="text-success">(m3)</small>
                                                            </td>
                                                            <td>
                                                                {{ us.value.MEDEXCEDIDO}} 
                                                                <small class="text-success">(m3)</small>
                                                            </td>
                                                            <td>{{ us.value.TAREXCEDIDO | currency }} </td>
                                                            <td>
                                                                {{ ((us.value) | sumasubtotal) | currency }} 
                                                            </td>
                                                            <td>
                                                                {{ us.value.TOTAL | currency }}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Column -->
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body row">
                                                <div class="col-md-6 m-t-30 otrospagos">
                                                    <div *ngIf="temp_var_corte">
                                                        <h3>
                                                            <b>MULTAS POR RECONEXION :</b>
                                                        </h3>
                                                        <table class="table table-hover" *ngIf="this.temp_var_corte">
                                                            <thead>
                                                                <tr>
                                                                    <!-- <th width="110"></th> -->
                                                                    <th>Observacion</th>
                                                                    <th>Fecha</th>
                                                                    <th>Meses</th>
                                                                    <th>Multa</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let us of lista_corte;let i = index" id="fila{{i}}">
                                                                    <!--
                                                                    <td>
                                                                        <span>
                                                                            <button 
                                                                            class="btn btn-circle text-danger"
                                                                            (click)="removeMultaExceso(us)"
                                                                            >
                                                                                <i class="fa fa-minus-circle"></i>
                                                                            </button>
                                                                        </span>
                                                                    </td>
                                                                    -->
                                                                    <td>{{ us.OBSERVACION}}</td>
                                                                    <td>{{ us.FECHA}}</td>
                                                                    <td>{{ us.MORA}}</td>
                                                                    <td>{{ us.MULTA | currency }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 row">
                                                    <div class="col-md-12 m-t-30 text-right">
                                                        <hr>
                                                        <p *ngIf="subtotal||subtotal==0">
                                                            SUBTOTAL : {{ subtotal | currency }} 
                                                        </p>
                                                        <p *ngIf="iva||iva==0">
                                                            IVA (12%) : {{ iva | currency}} 
                                                        </p>
                                                        <p *ngIf="alcantarillado||alcantarillado==0">
                                                            ALCANTARILLADO : {{ alcantarillado | currency }} 
                                                        </p>
                                                        <p *ngIf="multa_corte">
                                                            RECONEXION : {{ multa_corte | currency }} 
                                                        </p>
                                                        <hr>
                                                        <h3 *ngIf="total||total==0">
                                                            <b>TOTAL :</b> {{ total | currency}} 
                                                        </h3>
                                                    </div>
                                                    <div class="col-md-12 text-right">
                                                        <hr><br>
                                                        <button *ngIf="ocultar_boton=='ocultar'"
                                                        class="btn btn-danger" 
                                                        type="button" 
                                                        disabled
                                                        >
                                                            CARGANDO 
                                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                            <span class="sr-only">Loading...</span>
                                                        </button>

                                                        <button *ngIf="ocultar_boton!='ocultar'&&!medidor_inactivo"
                                                        class="btn btn-danger" 
                                                        type="submit"
                                                        (click)="openConfirmarPagoModal(confirmarPago)"
                                                        >
                                                            REALIZAR PAGO
                                                        </button>
                                                        <!-- <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" [class.active]="!temp_var&&temp_var_minga" id="profile" role="tabpanel">
                                    <div *ngIf="temp_var_minga">
                                        <h3>
                                            <b style="color: #007bff">PAGOS ASAMBLEAS/MINGAS :</b>
                                        </h3>
                                        <form [formGroup]="facturasMingasForm">
                                            <div formArrayName="listafacturasMingas">
                                                <table class="table table-hover" *ngIf="this.temp_var_minga">
                                                    <thead>
                                                        <tr>
                                                            <th width="110"></th>
                                                            <th>Tipo</th>
                                                            <th>Fecha</th>
                                                            <th>Lugar</th>
                                                            <th>Descripcion</th>
                                                            <th>Multa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let us of listafacturasMingas.controls;let i = index" id="fila{{i}}">
                                                            <td>
                                                                <span *ngIf='listafacturaMingas_restar_tamanio-1==i&&listafacturaMingas_restar_tamanio-1>0'>
                                                                    <button 
                                                                    class="btn btn-circle text-danger"
                                                                    (click)="removeIteMinga(i)"
                                                                    >
                                                                        <i class="fa fa-minus-circle"></i>
                                                                    </button>
                                                                    <span 
                                                                    *ngIf="listafacturaMingas_restar_tamanio<listafacturaMingas_tamanio"
                                                                    >
                                                                        <button 
                                                                        class="btn btn-circle text-info"
                                                                        (click)="addItemMinga()">
                                                                            <i class="fa fa-plus-circle"></i>
                                                                        </button>
                                                                    </span>
                                                                </span>
                                                                <span 
                                                                *ngIf="this.listafacturaMingas_restar_tamanio-1==0&&
                                                                listafacturaMingas_tamanio>1"
                                                                >
                                                                    <button 
                                                                    class="btn btn-circle text-info"
                                                                    (click)="addItemMinga()">
                                                                        <i class="fa fa-plus-circle"></i>
                                                                    </button>
                                                                </span>
                                                            </td>
                                                            <td>{{ us.value.planificacion.TIPOPLANIFICACION}}</td>
                                                            <td>{{ us.value.planificacion.FECHA}}</td>
                                                            <td>{{ us.value.planificacion.LUGAR}}</td>
                                                            <td>{{ us.value.planificacion.DESCRIPCION}}</td>
                                                            <td>{{ us.value.planificacion.VALORMULTA | currency}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                        <div class="col-md-12">
                                            <div class="col-md-6 float-right row">
                                                <div class="col-md-12 m-t-30 text-right">
                                                    <hr>
                                                    <p *ngIf="totalMinga||totalMinga==0">
                                                        <b>TOTAL :</b> {{ totalMinga | currency }} 
                                                    </p>
                                                </div>
                                                <div class="col-md-12 text-right">
                                                    <hr><br>
                                                    <button *ngIf="ocultar_boton_minga=='ocultar'"
                                                    class="btn btn-danger" 
                                                    type="button" 
                                                    disabled
                                                    >
                                                        CARGANDO 
                                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                        <span class="sr-only">Loading...</span>
                                                    </button>

                                                    <button *ngIf="ocultar_boton_minga!='ocultar'&&!medidor_inactivo"
                                                    class="btn btn-danger" 
                                                    type="submit"
                                                    (click)="openConfirmarPagoModalMinga(confirmarPagoMinga)"
                                                    >
                                                        REALIZAR PAGO
                                                    </button>
                                                    <!-- <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="messages" role="tabpanel" *ngIf='this.var_saldo'>
                                    <table class="table table-hover" *ngIf="this.var_saldo">
                                        <thead>
                                            <tr>
                                                <th>Detalle</th>
                                                <th>Fecha</th>
                                                <th>Serie medidor</th>
                                                <th>Saldo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Pago por instalacion</td>
                                                <td><span *ngIf="medidor_model">{{ medidor_model.FECHA }}</span></td>
                                                <td><span *ngIf="medidor_model">{{ medidor_model.SERIE }}</span></td>
                                                <td><span *ngIf="saldo">{{ saldo }}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="col-md-12">
                                        <div class="col-md-6 float-right row">
                                            <div class="col-md-12 m-t-30 text-right">
                                                <hr>
                                                <p *ngIf="saldo">
                                                    <b>TOTAL :</b> {{ saldo | currency }} 
                                                </p>
                                            </div>
                                            <div class="col-md-12 text-right">
                                                <hr><br>
                                                <button *ngIf="boton_saldo=='ocultar'"
                                                class="btn btn-danger" 
                                                type="button" 
                                                disabled
                                                >
                                                    CARGANDO 
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    <span class="sr-only">Loading...</span>
                                                </button>

                                                <button *ngIf="boton_saldo=='mostrar'"
                                                class="btn btn-danger" 
                                                type="button"
                                                (click)="openConfirmarPagoModalSaldo(confirmarPagoSaldo)"
                                                >
                                                    REALIZAR PAGO
                                                </button>
                                                <!-- <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!--modals confirmar pago de la factura-->
<ng-template #confirmarPago let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar Pago - Factura cliente </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <address *ngIf="usuario_dato">
                    <h5>
                        {{usuario_dato.NOMBRES}} {{usuario_dato.APELLIDOS}}
                    </h5>
                    <h6 class="font-bold">{{usuario_dato.APADOSN}}</h6>
                    <p class="text-muted m-l-5">
                        <span>
                            Sector: {{usuario_dato.SECTOR}},
                        </span><br>
                        <span *ngIf="usuario_dato.DIRECCION">
                            Direccion: {{usuario_dato.DIRECCION}},
                        </span><br/>
                        <span *ngIf='usuario_dato.TELEFONO||usuario_dato.CELULAR'>
                            Telf /Cel : <span *ngIf='usuario_dato.TELEFONO'>{{usuario_dato.TELEFONO }}</span> <span *ngIf='usuario_dato.CELULAR'>, {{usuario_dato.CELULAR }}</span>  
                        </span><br>
                        <span *ngIf='usuario_dato.REFERENCIA'>
                            Referencia: {{usuario_dato.REFERENCIA}},
                        </span><br/>
                        <span *ngIf='usuario_dato.ESTADO'>
                            Estado Usuario: 
                            <span class="badge badge-success" *ngIf="usuario_dato.ESTADO==1">
                                Activo
                            </span>
                            <span class="badge badge-danger" *ngIf="usuario_dato.ESTADO==0">
                                Inactivo
                            </span>
                            <span class="badge badge-dark" *ngIf="usuario_dato.ESTADO!=0&&usuario_dato.ESTADO!=1">
                                No disponible
                            </span>
                        </span> <br/> 
                    </p>
                </address>
            </div>
            <div class="cok-md-6">
                <address *ngIf="medidor">
                    <h3>Codigo medidor: {{medidor.CODIGO}}</h3>
                    <h4 class="font-bold">
                        Estado Medidor: 
                        <span *ngIf="medidor.ESTADO=='ACTIVO'" class="badge badge-success">
                            ACTIVO
                        </span>
                        <span *ngIf="medidor.ESTADO=='INACTIVO'" class="badge badge-danger">
                            INACTIVO
                        </span>
                        <span *ngIf="medidor.ESTADO!='ACTIVO'&&medidor.ESTADO!='INACTIVO'" class="badge badge-dark">
                            SIN ESPECIFICAR
                        </span>
                    </h4>
                </address>
            </div>
            <hr class="col-md-12">
            <div class="col-md-12 row">
                <div class="col-md-6">
                    Meses por cobrar: <span *ngIf='this.listafacturas.value'> {{this.listafacturas.value.length }} </span>
                </div>
                <div class="col-md-6">
                    <div *ngIf="array_totales">
                        <span *ngIf="array_totales[0].subtotal||array_totales[0].subtotal==0">
                            Subtotal: <span class="float-right">{{array_totales[0].subtotal | currency}}</span>
                        </span><br>
                        <span *ngIf="array_totales[0].iva||array_totales[0].iva==0">
                            IVA: <span class="float-right">{{array_totales[0].iva | currency}}</span>
                        </span><br>
                        <span *ngIf="array_totales[0].tarexcedido||array_totales[0].tarexcedido==0">
                            Exceso: <span class="float-right">{{array_totales[0].tarexcedido | currency}}</span>
                        </span><br>
                        <span *ngIf="array_totales[0].alcantarillado||array_totales[0].alcantarillado==0">
                            Alcantarillado: <span class="float-right">{{array_totales[0].alcantarillado | currency}}</span>
                        </span><br>
                        <span *ngIf="array_totales[0].reconexion||array_totales[0].reconexion==0">
                            Tiene multas por reconexion: <span class="float-right">{{array_totales[0].reconexion | currency}} </span>
                        </span><br>
                    </div>
                </div>
            </div>
            <hr class="col-md-12">
            <div class="col-md-12">
                <div *ngIf="array_totales">
                    <h4 *ngIf="array_totales[0].total||array_totales[0].total==0" class="float-right">
                        <strong>Total: {{array_totales[0].total | currency}}</strong>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success float-right" (click)="modal.close('realizarpago')">ACEPTAR</button>
        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">CANCELAR</button>
    </div>
</ng-template>
<!--fin modals confirmar pago de la factura-->

<!--modals confirmar pago de la factura-->
<ng-template #confirmarPagoMinga let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar Pago de Asamblea/Minga - Factura cliente </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <address *ngIf="usuario_dato">
                    <h5>
                        {{usuario_dato.NOMBRES}} {{usuario_dato.APELLIDOS}}
                    </h5>
                    <h6 class="font-bold">{{usuario_dato.APADOSN}}</h6>
                    <p class="text-muted m-l-5">
                        <span>
                            Sector: {{usuario_dato.SECTOR}},
                        </span><br>
                        <span *ngIf="usuario_dato.DIRECCION">
                            Direccion: {{usuario_dato.DIRECCION}},
                        </span><br/>
                        <span *ngIf='usuario_dato.TELEFONO||usuario_dato.CELULAR'>
                            Telf /Cel : <span *ngIf='usuario_dato.TELEFONO'>{{usuario_dato.TELEFONO }}</span> <span *ngIf='usuario_dato.CELULAR'>, {{usuario_dato.CELULAR }}</span>  
                        </span><br>
                        <span *ngIf='usuario_dato.REFERENCIA'>
                            Referencia: {{usuario_dato.REFERENCIA}},
                        </span><br/>
                        <span *ngIf='usuario_dato.ESTADO'>
                            Estado Usuario: 
                            <span class="badge badge-success" *ngIf="usuario_dato.ESTADO==1">
                                Activo
                            </span>
                            <span class="badge badge-danger" *ngIf="usuario_dato.ESTADO==0">
                                Inactivo
                            </span>
                            <span class="badge badge-dark" *ngIf="usuario_dato.ESTADO!=0&&usuario_dato.ESTADO!=1">
                                No disponible
                            </span>
                        </span> <br/> 
                    </p>
                </address>
            </div>
            <div class="cok-md-6">
                <address *ngIf="medidor">
                    <h3>Codigo medidor: {{medidor.CODIGO}}</h3>
                    <h4 class="font-bold">
                        Estado Medidor: 
                        <span *ngIf="medidor.ESTADO=='ACTIVO'" class="badge badge-success">
                            ACTIVO
                        </span>
                        <span *ngIf="medidor.ESTADO=='INACTIVO'" class="badge badge-danger">
                            INACTIVO
                        </span>
                        <span *ngIf="medidor.ESTADO!='ACTIVO'&&medidor.ESTADO!='INACTIVO'" class="badge badge-dark">
                            SIN ESPECIFICAR
                        </span>
                    </h4>
                </address>
            </div>
            <hr class="col-md-12">
            <div class="col-md-12">
                <table class="table table-hover" *ngIf="this.temp_var_minga">
                    <thead>
                        <tr>
                            <th width="110"></th>
                            <th>Tipo</th>
                            <th>Fecha</th>
                            <th>Lugar</th>
                            <th>Descripcion</th>
                            <th>Multa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let us of listafacturasMingas.value;let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>{{ us.planificacion.TIPOPLANIFICACION}}</td>
                            <td>{{ us.planificacion.FECHA}}</td>
                            <td>{{ us.planificacion.LUGAR}}</td>
                            <td>{{ us.planificacion.DESCRIPCION}}</td>
                            <td>{{ us.VALORMULTA | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="col-md-12">
            <div class="col-md-12">
                <div *ngIf="totalMinga||totalMinga==0">
                    <h4 class="float-right">
                        <strong>Total: {{ totalMinga | currency}}</strong>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success float-right" (click)="modal.close('realizarpago')">ACEPTAR</button>
        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">CANCELAR</button>
    </div>
</ng-template>
<!--fin modals confirmar pago de la factura-->


<!--seleccionar usuario para facturar -->
<ng-template #seleccionarUsuarioModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Seleccionar medidor para facturar</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 m-b-30">
                <p>
                    <button class="btn btn-info btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-info"></i> Información
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    El usuario tiene mas de dos medidores, por favor seleccione un medidor para facturar
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-body table-responsive p-0">
	                <table class="table table-hover" *ngIf="this.temp_var_selecionarusuario">
	                    <thead>
	                        <tr>
	                            <th>Nº</th>
	                            <th>Nombres</th>
	                            <th>Apellidos</th>
	                            <th>Sector</th>
	                            <th>Medidor</th>
	                            <th>Typo</th>
	                            <th>Opciones</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr *ngFor="let us of this.lista_usuarios_datos; let i =index">

	                            <td style="background: #007bff36;" *ngIf="us.NIVEL=='1'"> {{ i + 1}} </td>
	                            <td style="background: #007bff36;" *ngIf="us.NIVEL=='1'"> {{ us.up_nombres}} </td>
	                            <td style="background: #007bff36;" *ngIf="us.NIVEL=='1'"> {{ us.up_apellidos}} </td>
	                            <td style="background: #007bff36;" *ngIf="us.NIVEL=='1'"> {{ us.up_sector}} </td>
	                            <td style="background: #007bff36;" *ngIf="us.NIVEL=='1'"> {{ us.medidor.NUMMEDIDOR}} </td>
	                            <td style="background: #007bff36;" *ngIf="us.NIVEL=='1'"> PRINCIPAL </td>

	                            <td style="background: #007bff36;" *ngIf="us.NIVEL=='1'">
	                                <button 
	                            	type="button" 
	                            	class="btn btn-outline-secondary btn-sm" 
	                            	aria-label="Close" 
	                            	(click)="seleccionarMedidor(us);modal.close('Cancelar')"
	                            	>
	                            		Seleccionar medidor <i class="fa fa-chevron-right"></i>
	                            	</button>
	                            </td>

	                            <td *ngIf="us.NIVEL!='1'"> {{ i + 1}} </td>
	                            <td *ngIf="us.NIVEL!='1'"> {{ us.up_nombres}} </td>
	                            <td *ngIf="us.NIVEL!='1'"> {{ us.up_apellidos}} </td>
	                            <td *ngIf="us.NIVEL!='1'"> {{ us.up_sector}} </td>
	                            <td *ngIf="us.NIVEL!='1'"> {{ us.medidor.NUMMEDIDOR}} </td>
	                            <td *ngIf="us.NIVEL!='1'"> SECUNDARIO </td>

	                            <td *ngIf="us.NIVEL!='1'">
	                            	<button 
	                            	type="button" 
	                            	class="btn btn-outline-secondary btn-sm" 
	                            	aria-label="Close" 
	                            	(click)="seleccionarMedidor(us);modal.close('Cancelar')"
	                            	>
	                            		Seleccionar medidor <i class="fa fa-chevron-right"></i>
	                            	</button>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">CANCELAR</button>
    </div>
</ng-template>
<!--fin seleccionar usuario para facturar -->


<!--seleccionar todos los usuarios - users-medidor -->
<ng-template #allUserMedidorModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Seleccionar medidor para facturar</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 m-b-30">
                <p>
                    <button class="btn btn-info btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-info"></i> Información
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    Seleccione el usuario a facturar
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-body table-responsive p-0">
                	<form class="form-group float-right">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Buscar: </span>
	                		<input 
	                		type="text" 
	                		name="searchValue" 
	                		class="form-control" 
	                		[(ngModel)]="searchValue"
	                		(input)="eventoBuscar($event.target.value)"
	                		>
                        </div>
                    </form>
	                <table class="table table-hover" *ngIf="this.temp_var_usuario_medidor">
	                    <thead>
	                        <tr>
	                            <th>Nº</th>
	                            <th>RUC / CI</th>
	                            <th>Nombres</th>
	                            <th>Apellidos</th>
                                <th>Apodo</th>
	                            <th>Sector</th>
	                            <th>Codigo</th>
	                            <th>Opciones</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr *ngFor="let us of this.usermedidor | busquedausuario: searchValue 
	                        | slice: (page-1) * pageSize : page * pageSize;
	                        let i =index" (change)="eventoBuscar($event)">

	                            <td> {{ i + 1}} </td>
	                            <td> {{ us.RUCCI}} </td>
	                            <td> {{ us.NOMBRES}} </td>
	                            <td> {{ us.APELLIDOS}} </td>
                                <td> {{ us.APADOSN}} </td>
	                            <td> {{ us.SECTOR}} </td>
	                            <td> {{ us.medidor[0].CODIGO}} </td>
	                            <td>
	                                <a
	                            	class="btn btn-outline-secondary btn-sm" 
	                            	aria-label="Close" 
	                            	(click)="seleccionarUserMedidor(us);modal.close('Cancelar')"
	                            	>
	                            		Seleccionar medidor <i class="fa fa-chevron-right"></i>
	                            	</a>
	                            </td>

	                        </tr>
	                    </tbody>
	                </table>
	                <ngb-pagination 
	                class="d-flex -justify-content-center"
	                [collectionSize]="collectionSize" 
	                [(page)]="page" 
	                [maxSize]="5" 
	                [boundaryLinks]="true"
	                >
	                </ngb-pagination>

	            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">CANCELAR</button>
    </div>
</ng-template>
<!--fin seleccionar todos los usuarios - users-medidor -->


<!--modals confirmar pago instalacion medidor factura-->
<ng-template #confirmarPagoSaldo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar Pago - Factura cliente </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <address *ngIf="usuario_dato">
                    <h5>
                        {{usuario_dato.NOMBRES}} {{usuario_dato.APELLIDOS}}
                    </h5>
                    <h6 class="font-bold">{{usuario_dato.APADOSN}}</h6>
                    <p class="text-muted m-l-5">
                        <span>
                            Sector: {{usuario_dato.SECTOR}},
                        </span><br>
                        <span *ngIf="usuario_dato.DIRECCION">
                            Direccion: {{usuario_dato.DIRECCION}},
                        </span><br/>
                        <span *ngIf='usuario_dato.TELEFONO||usuario_dato.CELULAR'>
                            Telf /Cel : <span *ngIf='usuario_dato.TELEFONO'>{{usuario_dato.TELEFONO }}</span> <span *ngIf='usuario_dato.CELULAR'>, {{usuario_dato.CELULAR }}</span>  
                        </span><br>
                        <span *ngIf='usuario_dato.REFERENCIA'>
                            Referencia: {{usuario_dato.REFERENCIA}},
                        </span><br/>
                    </p>
                </address>
            </div>
            <div class="cok-md-6">
                <address *ngIf="medidor">
                    <h3>Codigo medidor: {{medidor.CODIGO}}</h3>
                    <h4 class="font-bold">
                        Estado Medidor: 
                        <span *ngIf="medidor.ESTADO=='ACTIVO'" class="badge badge-success">
                            ACTIVO
                        </span>
                        <span *ngIf="medidor.ESTADO=='INACTIVO'" class="badge badge-danger">
                            INACTIVO
                        </span>
                        <span *ngIf="medidor.ESTADO!='ACTIVO'&&medidor.ESTADO!='INACTIVO'" class="badge badge-dark">
                            SIN ESPECIFICAR
                        </span>
                    </h4>
                </address>
            </div>
            <hr class="col-md-12">
            <div class="col-md-12">
                <table class="table table-hover" *ngIf="this.var_saldo">
                    <thead>
                        <tr>
                            <th>Detalle</th>
                            <th>Fecha</th>
                            <th>Serie medidor</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pago por instalacion</td>
                            <td><span *ngIf="medidor_model">{{ medidor_model.FECHA }}</span></td>
                            <td><span *ngIf="medidor_model">{{ medidor_model.SERIE }}</span></td>
                            <td><span *ngIf="saldo">{{ saldo }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="col-md-12">
            <div class="col-md-12 row">
                <div class="col-md-8">
                    <p>Ingrese valor a cancelar</p>
                </div>
                <div class="col-md-4">
                    <span *ngIf="saldo>0">
                        Abonar saldo: 
                        <span class="float-right">
                            <input 
                            type="number" 
                            #SALDO="ngModel" 
                            name="SALDO" 
                            [(ngModel)]="medidor_model.SALDO" 
                            class="form-control form-control-sm" 
                            placeholder="Ingrese su abono" 
                            pattern="^[0-9]" min="1" step="1"
                            (ngModelChange)="calcularSaldoInstalacion(SALDO)"
                            >
                        </span>
                    </span>
                    <br>
                    <small *ngIf="saldo_instalacion>saldo" class="text-danger">Valor de abono debe ser igual o menor al saldo actual</small>
                    <small *ngIf="saldo_instalacion<=0" class="text-danger">Valor debe ser mayor a 0</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="saldo_instalacion<=saldo&&saldo_instalacion>0" type="button" class="btn btn-outline-success float-right" (click)="modal.close('realizarpago')">
            ACEPTAR
        </button>
        <button *ngIf="saldo_instalacion>saldo||saldo_instalacion<=0" type="button" class="btn btn-outline-success float-right" disabled>
            ACEPTAR
        </button>
        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">CANCELAR</button>
    </div>
</ng-template>
<!--fin modals confirmar pago instalacion medidor factura-->