 <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Datos personales</h4>
            </div>
            <div class="card-body">
                <form role="form" #formEditUsers="ngForm" (ngSubmit)="editUser()">
                    <div class="form-body">
                        <div class="row p-t-20">
                        	<small>Datos obligatorios(<span class="text-danger"> * </span>) </small>
                        	<div class="col-md-12 row">
	                        	<div class="col-md-4">
	                                <div class="form-group">
	                                    <span class="control-label"><span class="text-danger"> * </span> RUCCI</span>
	                                    <input type="text" #RUCCI="ngModel" name="RUCCI" [(ngModel)]="users.RUCCI" class="form-control form-control-sm" placeholder="Ingrese su RUCCI" required>

	                                    <small *ngIf="!RUCCI.valid &&RUCCI.touched" class="badge badge-danger form-control-feedback" >RUC/CI ES OBLIGATORIO</small>
	                                </div>
	                            </div>
                        	</div>
                        	<div class="col-md-12 row">
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <span class="control-label"><span class="text-danger"> * </span> NOMBRES</span>
	                                    <input type="text" #NOMBRES="ngModel" name="NOMBRES" [(ngModel)]="users.NOMBRES" class="form-control form-control-sm" placeholder="Ingrese los NOMBRES" required>

	                                    <small *ngIf="!NOMBRES.valid &&NOMBRES.touched" class="badge badge-danger form-control-feedback" >NOMBRES ES OBLIGATORIO</small>
	                                </div>
	                            </div>
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <span class="control-label"><span class="text-danger"> * </span> APELLIDOS</span>
	                                    <input type="text" #APELLIDOS="ngModel" name="APELLIDOS" [(ngModel)]="users.APELLIDOS" class="form-control form-control-sm" placeholder="Ingrese los APELLIDOS" required>

	                                    <small *ngIf="!APELLIDOS.valid &&APELLIDOS.touched" class="badge badge-danger form-control-feedback" >APELLIDOS ES OBLIGATORIO</small>
	                                </div>
	                            </div>
                        	</div>
                        	<div class="col-md-12 row">
	                            <div class="col-md-4">
	                                <div class="form-group">
	                                    <span class="control-label">APODO</span>
	                                    <input type="text" #APADOSN="ngModel" name="APADOSN" [(ngModel)]="users.APADOSN" class="form-control form-control-sm" placeholder="Ingrese el APODO">
	                                    
	                                </div>
	                            </div>
                        	</div>
                        	<div class="col-md-12 row">
	                            <div class="col-md-6 row">
	                            	<div class="col-md-6">
		                                <div class="form-group">
		                                    <span class="control-label">TELEFONO</span>
		                                    <input type="text" #TELEFONO="ngModel" name="TELEFONO" [(ngModel)]="users.TELEFONO" class="form-control form-control-sm" placeholder="Ingrese su TELEFONO">
		                                </div>
	                            	</div>
		                            <div class="col-md-6">
		                                <div class="form-group">
		                                    <span class="control-label">CELULAR</span>
		                                    <input type="text" #CELULAR="ngModel" name="CELULAR" [(ngModel)]="users.CELULAR" class="form-control form-control-sm" placeholder="Ingrese su CELULAR">
		                                </div>
		                            </div>
	                            </div>
	                            <div class="col-md-6">
	                                <div class="form-group">
	                                    <span class="control-label"><span class="text-danger"> * </span> SECTOR</span>
	                                    <select class="form-control"  id="SECTOR" class="col-md-9 form-control form-control-sm"
                                              [(ngModel)]="users.SECTOR" name="SECTOR" required>
                                            <option *ngFor="let g of sector" [ngValue]="g.name">{{g.name}}</option>
                                        </select>
	                                </div>
	                            </div>
                        	</div>
                        	<div class="col-md-12 row">
	                            <div class="col-md-6">
	                                <div class="form-group">
	                                    <span class="control-label">DIRECCION</span>
	                                    <input type="text" #DIRECCION="ngModel" name="DIRECCION" [(ngModel)]="users.DIRECCION" class="form-control form-control-sm" placeholder="Ingrese su DIRECCION">
	                                </div>
	                            </div>
	                            <div class="col-md-6">
	                                <div class="form-group">
	                                    <span class="control-label">EMAIL</span>
	                                    <input type="email" #EMAIL="ngModel" name="EMAIL" [(ngModel)]="users.email" class="form-control form-control-sm" placeholder="Ingrese su EMAIL">

	                                </div>
	                            </div>
                        	</div>
                        	<div class="col-md-12 row">
	                            <div class="col-md-6">
	                                <div class="form-group">
	                                    <span class="control-label">REFERENCIA</span>
	                                    <input type="text" #REFERENCIA="ngModel" name="REFERENCIA" [(ngModel)]="users.REFERENCIA" class="form-control form-control-sm" placeholder="Ingrese su REFERENCIA">
	                                </div>
	                            </div>
	                            <div class="col-md-6">
	                                <div class="form-group">
	                                    <span class="control-label">OBSERVACION</span>
	                                    <textarea #OBSERVACION="ngModel" name="OBSERVACION" [(ngModel)]="users.OBSERVACION" class="form-control form-control-sm" placeholder="Ingrese su OBSERVACION"></textarea>
	                                </div>
	                            </div>
                        	</div>
                        </div>
                        
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-outline-success"
                        [disabled]="!formEditUsers.form.valid">
                        	<i class="fa fa-check"></i> Guardar
                    	</button>
                        <button type="button" class="btn btn-inverse">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>