<ng-container *ngIf="roles_administrativos == 'admin'; then administradores"></ng-container>

<ng-template #administradores>
	<div class="row">
		<div class="col-12 row card">
	        <div class="col-12" *ngIf="!listacontrolaniomes">

	            <div class="sk-spinner sk-spinner-three-bounce">
	                <div class="sk-bounce1"></div>
	                <div class="sk-bounce2"></div>
	                <div class="sk-bounce3"></div>
	            	<div class="sk-spinner sk-spinner-pulse"></div>
	            </div>
	            
	        </div>
	        <div class="col-12" *ngIf="listacontrolaniomes">
	        	<div class="card-body">
	                <div class="col-lg-12 m-b-30">
	                    <p>
	                        <button class="btn btn-info btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	                        <i class="fa fa-info"></i> Información
	                        </button>
	                    </p>
	                    <div class="collapse" id="collapseExample">
	                        En esta seccion creará el año y mes en curso para el registro de consumo de los usuarios de agua ganaderia.
	                    </div>
	                </div>
	        		<hr>
	        		<div class="col-12">
	        			<button 
	        			(click)="openRegistrarNuevoAniomesModal(registrarNuevoAniomesConsumo)"
	        			class="btn btn-primary btn-sm"
	        			>
	        				Crear nuevo mes
	        			</button>
	        		</div>
	        	</div>
	        	<div class="col-md-12 col-lg-8">
		            <div class="card-body table-responsive p-0">
		                <table datatable [dtOptions]="dtOptions" class="table table-hover" *ngIf="this.temp_var">
		                    <thead>
		                        <tr>
		                            <th>Nº</th>
		                            <th>Detalle</th>
		                            <th>Anio-mes</th>
		                            <th>Total registro</th>
		                            <th>Estado</th>
		                            <th>Opciones</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr *ngFor="let us of this.listacontrolaniomes; let i =index">
		                            <td>{{ i + 1}}</td>
		                            <td>{{ us.detalle}}</td>
		                            <td>{{ us.aniomes}}</td>
		                            <td>{{ us.total_registro}}</td>
		                            <td>
		                                <span *ngIf="us.estado=='1'">
		                                    <span class="badge badge-success">Activo</span>
		                                </span>
		                                <span *ngIf="us.estado=='0'">
		                                    <span class="badge badge-danger">Inactivo</span>
		                                </span>
		                            </td>
		                            <td>
		                                <a [routerLink]="['/aguaganaderia/controlaniomesganaderia-detail',us.id]" class="btn btn-outline-primary btn-xs" title="Detalle mensual">
		                                    <i class="fa fa-arrow-right"></i>
		                                </a>
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
	        	</div>
	        </div>
		</div>
    </div>
</ng-template>

<!--modals registrar controlaniomesganaderia-->
<ng-template #registrarNuevoAniomesConsumo let-modal>
	<form role="form" #formRegistrarConsumo="ngForm">
	    <div class="modal-header">
	        <h4 class="modal-title" id="modal-basic-title">Registrar un nuevo año-mes</h4>
	        <button type="button" class="close help btn btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseInfoAddProductos" aria-expanded="false">
	            <i class="fa fa-fw fa-question"></i>
	        </button>
	        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	    <div class="modal-body">
	        <div class="row">
	            <div class="col-12">
	                <div id="acordion">
	                    <div id="collapseInfoAddProductos" class="panel-collapse in collapse" style="">
	                        <div class="jumbotron jumbotron-fluid p-2">
	                            <h5>Info</h5>
	                            <p>En esta seccion usted puede registrar el año y mes para un nuevo registro de consumo de agua ganaderia.</p>
	                            <strong>Nota: No se puede crear año o mes saltado, debe crear el mes consecutivo al mes anteior</strong>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-12">
	            	<div class="form-group">

	            		<span for="dateOfBirth">Registrar año-mes:</span>
	            		<div class="input-group" *ngIf='nueva_fecha'>
                            <input type="text" class="form-control" aria-describedby="basic-addon2" placeholder="yyyy-mm" value="{{nueva_fecha}}" readonly>
                            <span class="input-group-addon" id="basic-addon2">
	            				<i class="fa fa-calendar"></i>
                            </span>
                        </div>
                        <div class="input-group" *ngIf='!nueva_fecha'>
                            <input type="date" #aniomes="ngModel" name="aniomes" class="form-control" [(ngModel)]="controlaniomesganaderia.aniomes" aria-describedby="basic-addon2" placeholder="yyyy-mm" required>
                        </div>
	            	</div>
	            	<div class="form-group">

	            		<span for="dateOfBirth">Detalle:</span>
            			<textarea #detalle="ngModel" name="detalle" [(ngModel)]="controlaniomesganaderia.detalle" class="form-control form-control-sm" placeholder="Ingrese detalle" required>
            			</textarea>
	            	</div>
	            </div>
	        </div>
	    </div>
	    <div class="modal-footer">
	        <button type="submit" 
	        class="btn btn-outline-success float-right" 
	        (click)="modal.close('guardar')"
	        [disabled]="!formRegistrarConsumo.form.valid"
	        >
	        	<i class="fa fa-check"></i> GUARDAR
	        </button>
	        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">
	        	CERRAR
	        </button>
	    </div>
    </form>
</ng-template>
<!--fin modals registrar controlaniomesganaderia-->