<ng-container *ngIf="roles_administrativos == 'admin'; then administradores"></ng-container>

<ng-template #administradores>
    <div class="row">
    	<div class="col-12" *ngIf="!temp_var">

            <div class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            <div class="sk-spinner sk-spinner-pulse"></div>
            </div>
            
        </div>
    	<div class="col-md-12" *ngIf="temp_var">
    		<div class="card">
    			<div class="card-body">
	            	<button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo" aria-expanded="false">
			            Información <i class="fa fa-info"></i>
			        </button>
			        <div id="acordion">
	                    <div id="collapseInfo" class="panel-collapse in collapse" style="">
	                        <div class="jumbotron jumbotron-fluid p-2">
	                            <p>En esta seccion usted podrá realizar una nueva instalacion de usuarios retirados o usuarios nuevos.</p>
	                        </div>
	                    </div>
	                </div>
    			</div>
	            <div class="card-body table-responsive">
	                <table datatable class="table table-hover" *ngIf="this.temp_var">
	                    <thead>
	                        <tr>
	                            <th>Nº</th>
	                            <th>CI/RUC</th>
	                            <th>Nombres</th>
	                            <th>Apellidos</th>
	                            <th>Apodo</th>
	                            <th>Sector</th>
	                            <th>Medidor</th>
	                            <th>Opciones</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr *ngFor="let us of this.sinmedidor; let i =index">
	                            <td>{{ i + 1}}</td>
	                            <td>
	                                {{ us.RUCCI}}
	                            </td>
	                            <td>{{ us.NOMBRES}}</td>
	                            <td>{{ us.APELLIDOS}}</td>
	                            <td>{{ us.APADOSN}}</td>
	                            <td>{{ us.SECTOR}}</td>
								<td>
	                                <span *ngIf="us.medidor.length>0" class="text-primary">
	                                    <strong>RETIRADO</strong>
	                                </span>
	                                <span *ngIf="us.medidor.length==0" class="text-info">
	                                    <strong>SIN MEDIDOR</strong>    
	                                </span>
	                            </td>
	                            <td class="overflow-hidden">
	                                <div ngbDropdown container="body">
	                                    <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Opciones</button>
	                                    <div ngbDropdownMenu>
	                                        <a ngbDropdownItem class="btn" 
	                                        (click)="openVerModalUsers(verCliente,us)" title="Ver usuario">
	                                            Ver <i class="fa fa-eye"></i>
	                                        </a>
	                                        <div class="dropdown-divider"></div>
	                                        <a ngbDropdownItem class="btn" 
	                                        (click)="openAsignarCodigoMedidorModal(asignarCodigoMedidor,us)" title="Editar usuario">
	                                            Agregar codigo <i class="fa fa-pencil-square-o"></i>
	                                        </a>
	                                    </div>
	                                </div>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
            </div>
    	</div>      
    </div>
</ng-template>


<!--modals add proveedor-->
<ng-template #asignarCodigoMedidor let-modal>
    <form role="form" #formRegistrarMedidor="ngForm">
	    <div class="modal-header">
	        <h4 class="modal-title" id="modal-basic-title">Asignar codigo disponible</h4>
	        <button type="button" class="close help btn btn-sm" data-toggle="collapse" data-parent="#accordion" href="#collapseInfoAddProductos" aria-expanded="false">
	            <i class="fa fa-fw fa-question"></i>
	        </button>
	        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	    <div class="modal-body">
	        <div class="row">
	            <div class="col-12">
	                <div id="acordion">
	                    <div id="collapseInfoAddProductos" class="panel-collapse in collapse" style="">
	                        <div class="jumbotron jumbotron-fluid p-2">
	                            <h5>Info</h5>
	                            <p>En esta seccion usted puede asignar un codigo de medidor disponible.</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-12" *ngIf="usermedidor">
	            	<p>
	            		<strong>Cedula:</strong> {{usermedidor.RUCCI}} <br>
	            		<strong>Nombre:</strong> {{usermedidor.NOMBRES}} <br>
	            		<strong>Apellidos:</strong> {{usermedidor.APELLIDOS}} <br>
	            		<strong>Apodo:</strong> {{usermedidor.APADOSN}} <br>
	            		<strong>Sector:</strong> {{usermedidor.SECTOR}} <br>
	            	</p>
	            </div>
	            <div class="col-12">
	            	<hr>
	            	<div class="form-group row">
	            		<label for="codigo" class="col-6 col-form-label"><span class="text-danger"> * </span> Codigo Medidor disponibles:</label>
                        <div class="col-6">
                            <select class="form-control"  id="CODIGO"
                                [(ngModel)]="medidor.CODIGO" name="CODIGO" required>
                                <option *ngFor="let g of codigos_disponibles" [ngValue]="g">{{g}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="SECTOR" class="col-6 col-form-label"><span class="text-danger"> * </span> Sector:</label>
                        <div class="col-6">
                            <select class="form-control"  id="SECTOR"
                                [(ngModel)]="users.SECTOR" name="SECTOR" required>
                                <option *ngFor="let g of sector" [ngValue]="g.name">{{g.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="VALORPORCONEXION" class="col-6 col-form-label"><span class="text-danger"> * </span> Valor por conexion:</label>
                        <div class="col-6">
                            <input type="number" #VALORPORCONEXION="ngModel" name="VALORPORCONEXION" [(ngModel)]="medidor.VALORPORCONEXION" placeholder="Ingrese su VALORPORCONEXION">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="FECHA" class="col-6 col-form-label"><span class="text-danger"> * </span> Fecha:</label>
                        <div class="col-6">
                            <input type="date" #FECHA="ngModel" name="FECHA" [(ngModel)]="medidor.FECHA" placeholder="Ingrese su FECHA">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="SERIE" class="col-6 col-form-label">Serie medidor:</label>
                        <div class="col-6">
                            <input type="text" #SERIE="ngModel" name="SERIE" [(ngModel)]="medidor.SERIE" placeholder="Ingrese su SERIE">
                        </div>
                    </div>
	            </div>
	        </div>
	    </div>
	    <div class="modal-footer">
	        <button type="submit" 
	        class="btn btn-outline-success float-right" 
	        (click)="modal.close('guardar')"
	        [disabled]="!formRegistrarMedidor.form.valid"
	        >
	        	<i class="fa fa-check"></i> GUARDAR
	        </button>
	        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="modal.close('Cancelar')">
	        	CERRAR
	        </button>
	    </div>
    </form>
</ng-template>
<!--fin modals add proveedor-->